/*------------------------------------------------------------------

COLOR:	DEFAULT BLANK CSS (NO ANY CODE)

-------------------------------------------------------------------*/
/* 页脚输入框样式 */
.hdInputSingleLine {
    color: gray;
    background-color: #0A1633;
    border: 1px solid #46526A;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0px;
    font-size: 14px;
    width: calc(100% - 65px);
}
.hdInputMultiLine {
    color: gray;
    background-color: #0A1633;
    border: 1px solid #46526A;
    border-radius: 5px;
    width: 100%;
    resize: none;
    font-size: 14px;
}
.hdInputSingleLine:focus,
.hdInputMultiLine:focus {
    outline: none;
}
/* 标题下划线 */
.hdFooterH6 {
    color: #9EAAB8!important;
    margin-bottom: 15px!important;
}
.hdFooterHr {
    width: 150px;
    height: 1px;
    background: #223253;
    margin-bottom: 30px!important;
}
/*上箭头*/
.hdIconUp::before {
    content: url(../assets/components/leftmenu/up.png);
}
/*下箭头*/
.hdIconDown::before {
    content: url(../assets/components/leftmenu/down.png);
}
/*三角形图标*/
.hdIconTri::before {
    content: url(../assets/components/triangle.png);
}
/*矩形形图标*/
.hdIconRect::before {
    content: url(../assets/components/rect.png);
}
/*人才理念*/
.hdIconIdea1::before {
    content: url(../assets/hr/idea/1.png);
}
/*薪酬福利*/
.hdIconWelfare1::before {
    content: url(../assets/hr/welfare/1.png);
}
.hdIconWelfare2::before {
    content: url(../assets/hr/welfare/2.png);
}
.hdIconWelfare3::before {
    content: url(../assets/hr/welfare/3.png);
}
.hdIconWelfare4::before {
    content: url(../assets/hr/welfare/4.png);
}
.hdIconWelfare5::before {
    content: url(../assets/hr/welfare/5.png);
}
/*BaiduMap*/
.BMap_cpyCtrl {/*隐藏信息*/
    display: none;
}
.BMap_Marker {/*标注背景框大小*/
    width: 200px!important;
}
.BMapLabel {/*标注位置*/
    transform: translate(-40%, -100%)
}