@titleColor: #363940;
@subtitleColor: #2b3b4e;
@contentColor: #656a79;
@contentSize: 18px;
@dividerColor: #ebedf0;

@hdBgBlue: #0A1633;             // 背景蓝
@hdSelBlue: #4068f5;            // 选中蓝

@hdTitleColor: #363940;			// 标题色
// 正文段落
@hdTextFontSize: 16px;			  // 正文字号
@hdTextSpace: 16px;			      // 正文行间距
@hdTextColor: #656a79;			// 正文颜色
@hdSectionMarginD: 20px;          // 段落下间距
// 公司名称
@hdCompanyFontSizeCh: 18px;		  // 中文字号
@hdCompanyColorCh: @hdSelBlue;	  // 中文颜色
@hdCompanyFontSizeEn: 13px;		  // 英文字号
@hdCompanyColorEn: #869ef5;		// 英文颜色
// 页面页眉
@hdHeaderFontCh: 16px bold;		  // 中文字体
@hdHeaderFontEn: 12px bold;	  	  // 英文字体
@hdHeaderColorEn: #aaa;			// 英文颜色
// 页面大标题
@hdTitleFont: 28px bold;	  	  // 字体
@hdTitleMargin: 50px;		  	  // 上下边距
// 页面标题1
@hdTitle1FontSize: 18px;	  	  // 字号
@hdTitle1MarginV: 16px;			  // 上下边距
@hdTitle1MarginL: 12px;			  // 左边距
// 页面标题2
@hdTitle2FontSize: 16px;          // 字号
@hdTitle2MarginV: 12px;           // 上下边距
@hdTitle2MarginL: 12px;			  // 左边距
// 注解
@hdAnnoFontSize: 14px;			  // 字号
@hdAnnoColor: gray;			    // 颜色
// 签名
@hdSignFontSize: 17px;			  // 字号
// 左侧菜单
@hdLMenuWidth: 310px;
@hdLMenuItemFontSize: 20px;		  // 菜单项字号
@hdLMenuItemColor: #56585f;		// 菜单项颜色
@hdLMenuItemColorSel: #363940;	// 菜单项选中颜色
@hdLMenuChildFontSize: 18px;	  // 子菜单项字号
@hdLMenuChildColor: #8c8f99;	// 子菜单项颜色
@hdLMenuChildColorSel: @hdSelBlue;// 子菜单项选中颜色
@hdLMenuBgColorSel: #f7f9ff;	// 菜单项选中背景色
@hdLMenuDividerColor: #ebedf0;	// 分割线颜色
@hdLMenuArrowColor:#91949b;		// 箭头颜色
// 页脚
@hdFooterColor: #898e9d;        // 文字颜色
// 友情链接
@hdFriLinkFontSize: 14px;         // 字号
@hdFriLinkColor: white;         // 颜色

// 友情链接
.hdFriendlyLink {
    width: 100%;
    line-height: 94px;
    text-align: center;
    a {
        vertical-align: middle;
        margin: 0 20px;
        text-decoration: none;
        font-size: @hdFriLinkFontSize;
        color: @hdFriLinkColor;
    }
}

// 图标前缀
.hdIconBefore (@content, @marginR) {
    // content: @content;// url()需要完整http问题，把content放在default.css中设置
    margin-right: @marginR;
    display: inline-block;
    vertical-align: middle;
}
// 图标文本
.hdText (@content, @marginR, @fontSize, @fontWeight, @color, @marginV) {
    &::before {
        .hdIconBefore(@content, @marginR);
    }
    font-size: @fontSize;
    font-weight: @fontWeight;
    color: @color;
    margin: @marginV 0px;
    text-align: left;
}
// 句子
.hdText {
    .hdText("", 12px, @hdTextFontSize, normal, @hdTextColor, 0px);
    line-height: @hdTextFontSize + @hdTextSpace;
}
// 标题1
.hdTitle1 {
    .hdText("", @hdTitle1MarginL, @hdTitle1FontSize, bold, @hdTitleColor, @hdTitle1MarginV);
}
// 标题一(无边距)
.hdTitle1Margin0 {
	.hdText("", @hdTitle1MarginL, @hdTitle1FontSize, bold, @hdTitleColor, 0);
}
// 标题二
.hdTitle2 {
    .hdText("", @hdTitle2MarginL, @hdTitle2FontSize, bold, @hdTitleColor, @hdTitle2MarginV);
}
// 签名
.hdSignature {
	text-align: right;
	font-size: @hdSignFontSize;
    font-weight: normal;
    color: @hdTitleColor;
}
// 注解
.hdAnnotation(@align) {
    text-align: @align;
	font-size: @hdAnnoFontSize;
	color: @hdAnnoColor;
}
.hdAnnotationC, .hdAnnotation {
    .hdAnnotation(center);
}
.hdAnnotationL {
    .hdAnnotation(left);
}
// 段落
.hdSection(@indent:0em) {
	text-align: left;
    text-indent: @indent;
    line-height: @hdTextFontSize + @hdTextSpace;
    font-size: @hdTextFontSize;
    color: @hdTextColor;
    margin-bottom: 20px;
}
// 段落(无缩进)
.hdSection {
	.hdSection(0em);
}
// 段落(有缩进)
.hdSectionIndent {
	.hdSection(2em);
}
// 段落结束
.hdSectionEnd {
    margin-bottom: @hdSectionMarginD;
}
// 默认字体
body {
    font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;
}
// 取消下方默认10px边距
p {
    margin: 0;
    margin-bottom: 0;
}